# MAPBOX
VITE_MAPBOX_TOKEN=PEGA_AQUI_TU_TOKEN_PUBLICO

# MICROSERVICIOS LOCALES
VITE_API_BFF=http://localhost:8085/api/bff
VITE_API_LOGIN=http://localhost:8082/api/auth
VITE_API_USUARIOS=http://localhost:8083/api/usuarios
VITE_API_GEO=http://localhost:8084/api/geo
VITE_API_ADOPCION=http://localhost:8086/api/adopcion

# DASHBOARD ADMINISTRATIVO
VITE_DASHBOARD_ADMIN_URL=http://localhost:3000/index.html